<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pixel Puzzle</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <header><h1>Pixel Puzzle</h1></header>
    <main>
      <div id="games">
        <button onclick="window.location.href = 'wordle'">
          The Daily Pixel Puzzle
        </button>
        <button disabled onclick="window.location.href = 'unlimited'">
          Unlimited Pixel Puzzle
        </button>
        <button disabled onclick="window.location.href = 'timed'">
          Timed Pixel Puzzle
        </button>
        <button disabled onclick="window.location.href = 'hard'">
          Hard Pixel Puzzle
        </button>
      </div>
    </main>
  </body>
</html>
