<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pixel Puzzle</title>
  </head>
  <body>
    <h1>open the console (F12)</h1> <!-- this will be removed -->
    <img src="static/imgs/apple_blurry.jpg" alt="This is the image" />
    <br />
    <input type="text" name="name" id="name" />
    <button id="submit">Submit</button> <!-- this will be replaced by pressing enter -->
    <div id="hints-container"></div>
  </body>
  <script type="module" src="../static/js/index.js">
  </script>
</html>
