<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pixel Puzzle</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/wordle.css" />
  </head>
  <body>
    <header>
      <button onclick="window.location.href='/'">Home</button>
      <h1>Pixel Puzzle</h1>
      <button id="help">?</button>
    </header>
    <center><h2 id="loading">Loading...</h2></center>
    <div id="game" style="display: none">
      <p>What is this a picture of?</p>
      <img id="image" src="../static/imgs/timed/0_0.jpg" />
      <p id="input"></p>
      <p id="hints"></p>
    </div>
  </body>
  <script type="module" src="../static/js/timed.js"></script>
  <script>
    function readCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(";");
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == " ") c = c.substring(1, c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
      }
      return null;
    }

    // check the 'played' cookie to see if the user has played today
    var played_timed = readCookie("played_timed");
    if (played_timed == "true") {
      document.getElementById("loading").style.display = "none";
      document.getElementById("game").style.display = "flex";
      document.getElementById("game").innerHTML =
        "<p>You've already played today.</p>";
      document.getElementById("game").innerHTML +=
        "<p>Check back tomorrow for new images.</p>";
    }
  </script>
</html>
