<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pixel Puzzle</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <style>
    #game {
      text-align: center;
    }
  </style>
  <body>
    <header><h1>Pixel Puzzle</h1></header>
    <div id="game">
      <p>What is this a picture of?</p>
      <img id="image" src="../static/imgs/obj_1.jpg" />
      <p id="input"></p>
      <p id="hints"></p>
    </div>
  </body>
  <script type="module" src="../static/js/index.js"></script>
</html>
