@import url("../font/inter.css");
@import url("colors.css");

:root {
  --background-color: var(--gray-200);
  --text-color: var(--gray-800);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--gray-900);
    --text-color: var(--gray-100);
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Inter";
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  padding: 1rem 0;
  font-weight: 800;
}

p {
  font-size: 24px;
  font-weight: 500;
}

header {
  padding: 1rem 0 2rem 0;
  width: 100vw;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;

  align-items: center;
}

header > * {
  margin: 0 auto;
}

main button {
  width: fit-content;
  padding: 0.6rem 2rem;
  font-size: 1.2rem;
  font-weight: 800;
  border-radius: 0.5rem;
  background-color: var(--gray-400);
  color: var(--text-color);
  border: none;
  cursor: pointer;

  transition: all 0.3s;
}

main button:hover {
  background-color: var(--gray-500);
  scale: 1.05;
}

main button:active {
  background-color: var(--gray-600);
  scale: 0.95;

  transition: all 0.3s;
}

main #games {
  width: 25%;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  padding: 1rem;
}

main #games > button {
  width: 100%;
  padding: 2rem;
  font-size: 1.25rem;
}
